:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}
.page {
    background: var(--very-light-gray);
    font-family: "Public Sans";
    font-weight: 400;
    /* height: 100vh; */
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-inline: 1rem; */
    margin-inline: auto;
    gap: 1rem;
    max-inline-size: 1200px;
}

.request-button {
    border-radius: 20px;
    background: linear-gradient(
        to right,
        var(--lime-green),
        var(--bright-cyan)
    );
    color: var(--white);
    padding: 0.7rem 1.5rem;
    text-align: center;
    height: fit-content;
    width: fit-content;
    margin-bottom: 0.5rem;
    font-weight: 600;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    color: var(--grayish-blue);
}
a {
    color: inherit;
    text-decoration: none;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
/* Header */
header {
    padding-top: 1em;
}
.menu ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    a {
        margin: 0;
        padding: 10px;
        font-weight: 500;
        color: var(--grayish-blue);
    }
    a:hover {
        border-bottom: 2px solid red;
        color: var(--dark-blue);
        border-image: linear-gradient(
                to right,
                var(--lime-green),
                var(--bright-cyan)
            )
            1;
    }
}
/* Footer section */
footer {
    padding-top: 1em;
    background-color: var(--dark-blue);
    color: var(--white);
    padding-block: 2rem;
    a {
        color: inherit;
        padding: 0.6rem;
        display: block;
        :visited {
            color: inherit;
        }
    }
    a::before,
    a:hover {
        color: var(--lime-green);
    }
    .footer-menu {
        column-count: 2;
    }
    .social-links {
        padding-top: 1rem;
    }
    .fab {
        font-size: 1.4rem;
    }
    .last-section {
        text-align: right;
        padding-left: 200px;
    }
}
.inline-menu {
    display: inline-flex;
}
/* Hero styling  */
.hero {
    .hero-right {
        background-image: url("images/bg-intro-desktop.svg");
    }
    .hero-left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        flex: 1 1 45%;
        p {
            padding-block: 1rem;
        }
    }
}

/* Features styling  */
.feature {
    flex: 0 1 100%;
    padding: 1rem 0;
}

/* Articles styling  */
.card {
    .card-body {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .author {
        font-size: 0.8rem;
        color: var(--grayish-blue);
    }
    .content {
        color: var(--grayish-blue);
    }
}
.article-list {
    gap: 1.2rem;
    background-color: var(--very-light-gray);
}
.articles {
    padding: 1rem 0;
    img {
        /* aspect-ratio: 1/1; */
        object-fit: cover;
        height: 240px;
        width: 280px;
    }
    .card {
        background: var(--white);
    }
    .card-body {
        padding: 1rem;
    }
}

.why {
    background: var(--light-grayish-blue);
    .card-body {
        padding-top: 1rem;
    }
}
.section-heading.wrapper {
    padding: 2rem 0;
    flex-direction: column;
}
